.global-font{
    font-size:18px
}

.global-button-style {
    width: 180px;
    font-size: 18px;
    height: 40px;
}

.global-button-padding{
    padding: 19px 180px 20px;
}

.global-panel-title{
    color: white;
    margin-left: 10px;
    font-weight:normal;
    font-size: 18px;
}

.global-input-readonly{
     /*background-color: #f1f5f7;*/
     /*padding: 4px 6px;*/
     border: 1px solid #ccc;
     border-radius: 5px 5px 5px 5px;
     font-size: 18px;
     color: #555;
     text-align: left;
     width: 300px;
 }

.myself-input-readonly{
    padding: 4px 6px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    font-size: 18px;
    color: #555;
    text-align: left;
}

.global-input{
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    font-size: 18px;
    text-align: left;
    width: 300px;
}