<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.CusEmpRelMapper">

    <resultMap id="cusEmpRelResultMap" type="com.lcyzh.nmerp.entity.CusEmpRel">
        <id column="cus_code" property="cusCode" jdbcType="VARCHAR"/>
        <result column="emp_code" property="empCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="findList" resultMap="cusEmpRelResultMap">
        SELECT *
        FROM T_CUS_EMP_REL
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="cusEmpRelResultMap">
        SELECT *
        FROM T_CUS_EMP_REL
    </select>

    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.CusEmpRel">
        INSERT INTO T_CUS_EMP_REL(
            cus_code,
            emp_code,
            create_time,
            update_time
        )
        VALUES (
            #{cusCode,jdbcType=VARCHAR},
            #{empCode,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.CusEmpRel">
        INSERT INTO T_CUS_EMP_REL(
        cus_code,
        emp_code,
        create_time,
        update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.cusCode,jdbcType=VARCHAR},
            #{item.empCode,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.lcyzh.nmerp.entity.CusEmpRel">
        UPDATE T_CUS_EMP_REL
        <set>
            <if test="empCode!= null">
                emp_code = #{empCode,jdbcType=VARCHAR},
            </if>
            <if test="updateTime!= null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE cus_code = #{cusCode,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.util.List">
        DELETE FROM T_CUS_EMP_REL
        cus_code in (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        )
    </delete>

    <update id="updateBatch" parameterType="java.util.List">
        update T_CUS_EMP_REL
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="emp_code =case" suffix="end,">
                <foreach collection="list" item="emp">
                    <if test="emp.empCode!=null">
                        when cus_code=#{emp.cusCode} then #{emp.empCode}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="list" item="emp">
                    <if test="emp.updateTime!=null">
                        when cus_code=#{emp.cusCode} then #{emp.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where cus_code in
        <foreach collection="list" index="index" item="emp" separator="," open="(" close=")">
            #{emp.cusCode,jdbcType=VARCHAR}
        </foreach>
    </update>

</mapper>