<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.CusFollowDetailMapper">

    <resultMap id="cusFollowDetailResultMap" type="com.lcyzh.nmerp.entity.CusFollowDetail">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="cus_code" property="cusCode" jdbcType="VARCHAR"/>
        <result column="emp_code" property="empCode" jdbcType="VARCHAR"/>
        <result column="follow_time" property="followTime" jdbcType="TIMESTAMP"/>
        <result column="follow_detail" property="followDetail" jdbcType="VARCHAR"/>
        <result column="follow_type" property="followType" jdbcType="BIGINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="get" resultMap="cusFollowDetailResultMap">
        SELECT *
        FROM T_CUS_FOLLOW_DETAIL
        WHERE id = #{id}
    </select>

    <select id="findList" resultMap="cusFollowDetailResultMap">
        SELECT *
        FROM T_CUS_FOLLOW_DETAIL
        <where>

            <if test="cusCode!= null">
                and cus_code like concat('%', #{cusCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="empCode!= null">
                and emp_code like concat('%', #{empCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="followTime!= null">
                and follow_time like concat('%', #{followTime,jdbcType=TIMESTAMP}, '%')
            </if>
            <if test="followDetail!= null">
                and follow_detail like concat('%', #{followDetail,jdbcType=VARCHAR}, '%')
            </if>
            <if test="followType!= null">
                and follow_type = #{followType,jdbcType=BIGINT}
            </if>

        </where>
    </select>

    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.CusFollowDetail">
        INSERT INTO T_CUS_FOLLOW_DETAIL(
            id,
            cus_code,
            emp_code,
            follow_time,
            follow_detail,
            follow_type,
            remark,
            create_time
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{cusCode,jdbcType=VARCHAR},
            #{empCode,jdbcType=VARCHAR},
            #{followTime,jdbcType=TIMESTAMP},
            #{followDetail,jdbcType=VARCHAR},
            #{followType,jdbcType=BIGINT},
            #{remark,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

</mapper>