<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.CusFollowMapper">

    <resultMap id="cusFollowResultMap" type="com.lcyzh.nmerp.entity.CusFollow">
        <id column="cus_code" property="cusCode" jdbcType="VARCHAR"/>
        <result column="latest_follow_time" property="latestFollowTime" jdbcType="TIMESTAMP"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="get" resultMap="cusFollowResultMap">
        SELECT *
        FROM T_CUS_FOLLOW
        WHERE cus_code = #{cusCode,jdbcType=VARCHAR}
    </select>

    <select id="findList" resultMap="cusFollowResultMap">
        SELECT *
        FROM T_CUS_FOLLOW
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="cusFollowResultMap">
        SELECT *
        FROM T_CUS_FOLLOW
    </select>

    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.CusFollow">
        INSERT INTO T_CUS_FOLLOW(
            cus_code,
            latest_follow_time,
            create_time
        )
        VALUES (
            #{cusCode,jdbcType=VARCHAR},
            #{latestFollowTime,jdbcType=TIMESTAMP},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.CusFollow">
        INSERT INTO T_CUS_FOLLOW(
        cus_code,
        latest_follow_time,
        create_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.cusCode,jdbcType=VARCHAR},
            #{item.latestFollowTime,jdbcType=TIMESTAMP},
            #{item.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.lcyzh.nmerp.entity.CusFollow">
        UPDATE T_CUS_FOLLOW
        <set>
            <if test="latestFollowTime!= null">
                latest_follow_time = #{latestFollowTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime!= null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE cus_code = #{cusCode,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="com.lcyzh.nmerp.entity.CusFollow">
        DELETE FROM T_CUS_FOLLOW
        WHERE cus_code = #{cusCode,jdbcType=VARCHAR}
    </delete>

</mapper>