<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TBarCodeInfoMapper">

    <resultMap id="resultMap" type="com.lcyzh.nmerp.entity.TBarCodeInfo">
        <id column="bar_code" property="barCode" jdbcType="VARCHAR"/>
        <result column="ord_code" property="ordCode" jdbcType="VARCHAR"/>
        <result column="item_id" property="itemId" jdbcType="BIGINT"/>
        <result column="num" property="num" jdbcType="DOUBLE"/>
        <result column="unit" property="unit" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="CHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="findInvInfoList" resultType="com.lcyzh.nmerp.model.vo.ProdInvInfoVo" >
        SELECT
            oi.item_code itemCode,
            od.ord_code ordCode,
            od.ord_title ordTitle,
            oi.item_owner itemOwner,
            oi.id itemId,
            oi.item_num itemNum,
            sum(b.num) num
        FROM
            T_BARCODE_INFO b
            LEFT JOIN T_ORDER_ITEM oi ON b.item_id = oi.id
            LEFT JOIN T_ORDER od ON od.ord_code = oi.ord_code
            GROUP BY b.item_id,b.status HAVING b.`status`='0'
    </select>

    <select id="findList" parameterType="com.lcyzh.nmerp.entity.TBarCodeInfo" resultMap="resultMap">
        SELECT *
        FROM T_BARCODE_INFO
        <where>
            <if test="ordCode!= null">
                and ord_code like concat('%', #{ordCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="itemId!= null">
                and item_id = #{itemId,jdbcType=BIGINT}
            </if>
            <if test="status!= null">
                and status = #{status,jdbcType=CHAR}
            </if>

        </where>
    </select>

    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.TBarCodeInfo">
        insert into T_BARCODE_INFO(
            bar_code,
            ord_code,
            item_id,
            num,
            unit,
            status,
            create_time
        )values (
            #{barCode,jdbcType=VARCHAR},
            #{ordCode,jdbcType=VARCHAR},
            #{itemId,jdbcType=BIGINT},
            #{num,jdbcType=DOUBLE},
            #{unit,jdbcType=BIGINT},
            #{status,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>


    <update id="update" parameterType="com.lcyzh.nmerp.entity.TBarCodeInfo">
        update T_BARCODE_INFO
        <set>
            <if test="status!=null">
                status = #{status,jdbcType=CHAR},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <if test="barCode!=null">
                and bar_code = #{barCode,jdbcType=VARCHAR}
            </if>

            <if test="ordCode!=null">
                and ord_code = #{ordCode,jdbcType=VARCHAR}
            </if>

            <if test="statusParam!=null">
                and status = #{statusParam,jdbcType=CHAR}
            </if>
        </where>
    </update>


    <update id="updateBatch" parameterType="java.util.List">
        update T_BARCODE_INFO
        set
        status = #{status,jdbcType=CHAR}
        where bar_code in
        <foreach collection="list" separator="," item="i" index="index">
            #{i.barCode}
        </foreach>
    </update>

    <select id="findBySelectKey" resultMap="resultMap" parameterType="com.lcyzh.nmerp.entity.TBarCodeInfo">
        select * from T_BARCODE_INFO
        <where>
            <if test="ordCode!=null">
                and ord_code = #{ordCode,jdbcType=VARCHAR}
            </if>

            <if test="itemId!=null">
                and item_id = #{itemId,jdbcType=BIGINT}
            </if>

            <if test="status!=null">
                and status = #{status,jdbcType=CHAR}
            </if>
        </where>
    </select>

    <select id="findByPrimaryKey" resultMap="resultMap" parameterType="java.lang.String">
       select * from T_BARCODE_INFO where bar_code = #{barCode,jdbcType=VARCHAR}
    </select>

</mapper>