<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TCustomerMapper">

    <resultMap id="tCustomerResultMap" type="com.lcyzh.nmerp.entity.Customer">
        <id column="cus_code" property="cusCode" jdbcType="VARCHAR"/>
        <result column="cus_name" property="cusName" jdbcType="VARCHAR"/>
        <result column="cus_grade" property="cusGrade" jdbcType="BIGINT"/>
        <result column="cus_status" property="cusStatus" jdbcType="BIGINT"/>
        <result column="cus_type" property="cusType" jdbcType="BIGINT"/>
        <result column="industry" property="industry" jdbcType="VARCHAR"/>
        <result column="cus_source" property="cusSource" jdbcType="BIGINT"/>
        <result column="cus_address" property="cusAddress" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>

    </resultMap>

    <!-- 根据编号获得用户 -->
    <select id="findByCusCode" resultMap="tCustomerResultMap">
        SELECT
        *
        FROM T_CUSTOMER
       where cus_code = #{cusCode,jdbcType=VARCHAR}
    </select>




    <select id="findByCusName" parameterType="java.lang.String" resultMap="tCustomerResultMap">
        SELECT *
        FROM T_CUSTOMER
       where cus_name = #{cusName,jdbcType=VARCHAR}
    </select>

    <select id="findList" resultType="com.lcyzh.nmerp.model.vo.CustomerQueryVo"
            parameterType="com.lcyzh.nmerp.model.vo.CustomerQueryVo">
        SELECT
        cu.cus_name cusName,
        cu.cus_code cusCode,
        cu.cus_grade cusGrade,
        cu.industry industry,
        cu.cus_status cusStatus,
        pc.contact_name primaryContactorName,
        pc.contact_phone primaryContactorPhone,
        cf.latest_follow_time lastFollowDate,
        DATEDIFF( NOW( ), cf.latest_follow_time ) unFollowDays
        FROM
        T_CUSTOMER cu
        LEFT JOIN T_PRIMARY_CONTACT pc ON cu.cus_code = pc.cus_code
        LEFT JOIN T_CUS_FOLLOW cf ON cu.cus_code = cf.cus_code

        <where>
            and cu.cus_status!=11004
            <if test="cusName!= null">
                and cus_name like concat('%', #{cusName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="cusStatus!= null">
                and cu.cus_status = #{cusStatus,jdbcType=BIGINT)
            </if>
            <if test="cusGrade!= null">
                and cu.cus_grade = #{cusGrade,jdbcType=BIGINT)
            </if>
            <if test="cusType!= null">
                and cu.cus_type = #{cusType,jdbcType=BIGINT)
            </if>

            <if test="cusSource!= null">
                and cu.cus_source = #{cusSource,jdbcType=BIGINT)
            </if>

            <if test="lastFollowDate!= null">
                and cf.latest_follow_time like concat('%', #{lastFollowDate,jdbcType=VARCHAR}, '%')
            </if>

            <if test="followType!= null and followType == 1">
                and cf.cus_code is not null
            </if>

            <if test="followType!= null and followType == 0">
                and cf.cus_code is null
            </if>

        </where>
    </select>


    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.Customer">
        INSERT INTO T_CUSTOMER(
            cus_code,
            cus_name,
            cus_grade,
            cus_status,
            cus_type,
            industry,
            cus_source,
            cus_address,
            remark,
            create_time,
            update_time
        )
        VALUES (
            #{cusCode,jdbcType=VARCHAR},
            #{cusName,jdbcType=VARCHAR},
            #{cusGrade,jdbcType=BIGINT},
            #{cusStatus,jdbcType=BIGINT},
            #{cusType,jdbcType=BIGINT},
            #{industry,jdbcType=VARCHAR},
            #{cusSource,jdbcType=BIGINT},
            #{cusAddress,jdbcType=VARCHAR},
            #{remark,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.Customer">
        INSERT INTO T_CUSTOMER(
        cus_code,
        cus_name,
        cus_status,
        cus_grade,
        cus_type,
        industry,
        cus_address,
        cus_source,
        remark,
        create_time,
        update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.cusCode,jdbcType=VARCHAR},
            #{item.cusName,jdbcType=VARCHAR},
            #{item.cusStatus,jdbcType=BIGINT},
            #{item.cusGrade,jdbcType=BIGINT},
            #{item.cusType,jdbcType=BIGINT},
            #{item.industry,jdbcType=VARCHAR},
            #{item.cusAddress,jdbcType=VARCHAR},
            #{item.cusSource,jdbcType=BIGINT},
            #{item.remark,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.lcyzh.nmerp.entity.Customer">
        UPDATE T_CUSTOMER
        <set>
            <if test="cusName!=null">
                cus_name = #{cusName,jdbcType=VARCHAR},
            </if>
            <if test="cusGrade!=null">
                cus_grade = #{cusGrade,jdbcType=BIGINT},
            </if>
            <if test="cusType!=null">
                cus_type = #{cusType,jdbcType=BIGINT},
            </if>
            <if test="cusStatus!=null">
                cus_status = #{cusStatus,jdbcType=BIGINT},
            </if>
            <if test="industry!=null">
                industry = #{industry,jdbcType=VARCHAR},
            </if>
            <if test="cusSource!=null">
                cus_source = #{cusSource,jdbcType=BIGINT},
            </if>
            <if test="cusAddress!=null">
                cus_address = #{cusAddress,jdbcType=VARCHAR},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>

        WHERE cus_code = #{cusCode,jdbcType=VARCHAR}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        update T_CUSTOMER
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="cus_status =case" suffix="end,">
                <foreach collection="list" item="cus">
                    <if test="cus.cusStatus!=null">
                        when cus_code=#{cus.cusCode} then #{cus.cusStatus}
                    </if>
                </foreach>
            </trim>
            <trim prefix="update_time =case" suffix="end,">
                <foreach collection="list" item="cus">
                    <if test="cus.updateTime!=null">
                        when cus_code=#{cus.cusCode} then #{cus.updateTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        where cus_code in
        <foreach collection="list" index="index" item="cus" separator="," open="(" close=")">
            #{cus.cusCode,jdbcType=VARCHAR}
        </foreach>
    </update>

</mapper>