<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.THistoryProdRecordMapper">

    <resultMap id="tHistoryProdRecordResultMap" type="com.lcyzh.nmerp.entity.THistoryProdRecord">
        <id column="id" property="id" jdbcType="BIGINT"/> 
        <result column="ord_code" property="ordCode" jdbcType="VARCHAR"/> 
        <result column="order_item_id" property="orderItemId" jdbcType="BIGINT"/> 
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/> 
        <result column="mac_code" property="macCode" jdbcType="VARCHAR"/> 
        <result column="item_color" property="itemColor" jdbcType="VARCHAR"/> 
        <result column="item_owner" property="itemOwner" jdbcType="VARCHAR"/> 
        <result column="item_variety" property="itemVariety" jdbcType="BIGINT"/> 
        <result column="item_cgy_code" property="itemCgyCode" jdbcType="BIGINT"/> 
        <result column="item_yc_type" property="itemYcType" jdbcType="VARCHAR"/> 
        <result column="item_yb_type" property="itemYbType" jdbcType="VARCHAR"/> 
        <result column="item_total_sq" property="itemTotalSq" jdbcType="DOUBLE"/> 
        <result column="item_total_weight" property="itemTotalWeight" jdbcType="DOUBLE"/> 
        <result column="item_num" property="itemNum" jdbcType="BIGINT"/> 
        <result column="item_thick" property="itemThick" jdbcType="DOUBLE"/> 
        <result column="item_width" property="itemWidth" jdbcType="DOUBLE"/> 
        <result column="item_lenth" property="itemLenth" jdbcType="DOUBLE"/> 
        <result column="item_code" property="itemCode" jdbcType="VARCHAR"/> 

        
        
    </resultMap>


    <select id="findById" parameterType="java.lang.Long" resultMap="tHistoryProdRecordResultMap">
        SELECT *
        FROM t_history_prod_record
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findListVo" parameterType="com.lcyzh.nmerp.model.vo.HistoryPordRecordVo" resultType="com.lcyzh.nmerp.model.vo.HistoryPordRecordVo">
        SELECT
        hpr.id historyProdRecordId,
        hpr.ord_code ordCode,
        hpr.order_item_id orderItemId,
        hpr.mac_code macCode,
        hpr.item_color itemColor,
        hpr.item_owner itemOwner,
        hpr.item_variety itemVariety,
        hpr.item_cgy_code itemCgyCode,
        hpr.item_yc_type itemYcType,
        hpr.item_yb_type itemYbType,
        hpr.item_total_sq itemTotalSq,
        hpr.item_total_weight itemTotalWeight,
        hpr.item_num itemNum,
        hpr.item_thick itemThick,
        hpr.item_width itemWidth,
        hpr.item_lenth itemLenth,
        hpr.item_code itemCode,
        hpr.create_time createTime,
        o.ord_title orderTitle
        FROM t_history_prod_record hpr
        left join t_order o on hpr.ord_code = o.ord_code
        <where>
            <if test="ordCode!= null and ordCode!=''">
                and hpr.ord_code like concat('%', concat(#{ordCode,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="orderTitle!= null and orderTitle!=''">
                and o.ord_title like concat('%', concat(#{orderTitle,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="startDate!= null and startDate !=''">
                and hpr.create_time between #{startDate} and #{endDate}
            </if>
            <if test="macCode!= null and macCode!=''">
                and hpr.mac_code = #{macCode,jdbcType=VARCHAR}
            </if>
            <if test="itemColor!= null and itemColor!= ''">
                and hpr.item_color = #{itemColor,jdbcType=VARCHAR}
            </if>
            <if test="itemVariety!= null and itemVariety != ''">
                and hpr.item_variety = #{itemVariety,jdbcType=BIGINT}
            </if>
            <if test="itemCgyCode!= null and itemCgyCode != ''">
                and hpr.item_cgy_code = #{itemCgyCode,jdbcType=BIGINT}
            </if>
            <if test="itemYcType!= null and itemYcType!= ''">
                and hpr.item_yc_type = #{itemYcType,jdbcType=VARCHAR}
            </if>
            <if test="itemYbType!= null and itemYbType!= ''">
                and hpr.item_yb_type = #{itemYbType,jdbcType=VARCHAR}
            </if>
            <if test="itemCode!= null and itemCode!= ''">
                and hpr.item_code = #{itemCode,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="findList" parameterType ="com.lcyzh.nmerp.entity.THistoryProdRecord"  resultMap="tHistoryProdRecordResultMap">
        SELECT *
        FROM t_history_prod_record
        <where>
            <if test="ordCode!= null">
            and ord_code like concat('%', #{ordCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="orderItemId!= null">
            and order_item_id like concat('%', #{orderItemId,jdbcType=BIGINT}, '%')
            </if>
            <if test="createTime!= null">
            and create_time like concat('%', #{createTime,jdbcType=TIMESTAMP}, '%')
            </if>
            <if test="macCode!= null">
            and mac_code like concat('%', #{macCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="itemColor!= null">
            and item_color like concat('%', #{itemColor,jdbcType=VARCHAR}, '%')
            </if>
            <if test="itemOwner!= null">
            and item_owner like concat('%', #{itemOwner,jdbcType=VARCHAR}, '%')
            </if>
            <if test="itemVariety!= null">
            and item_variety like concat('%', #{itemVariety,jdbcType=BIGINT}, '%')
            </if>
            <if test="itemCgyCode!= null">
            and item_cgy_code like concat('%', #{itemCgyCode,jdbcType=BIGINT}, '%')
            </if>
            <if test="itemYcType!= null">
            and item_yc_type like concat('%', #{itemYcType,jdbcType=VARCHAR}, '%')
            </if>
            <if test="itemYbType!= null">
            and item_yb_type like concat('%', #{itemYbType,jdbcType=VARCHAR}, '%')
            </if>
            <if test="itemTotalSq!= null">
            and item_total_sq like concat('%', #{itemTotalSq,jdbcType=DOUBLE}, '%')
            </if>
            <if test="itemTotalWeight!= null">
            and item_total_weight like concat('%', #{itemTotalWeight,jdbcType=DOUBLE}, '%')
            </if>
            <if test="itemNum!= null">
            and item_num like concat('%', #{itemNum,jdbcType=BIGINT}, '%')
            </if>
            <if test="itemThick!= null">
            and item_thick like concat('%', #{itemThick,jdbcType=DOUBLE}, '%')
            </if>
            <if test="itemWidth!= null">
            and item_width like concat('%', #{itemWidth,jdbcType=DOUBLE}, '%')
            </if>
            <if test="itemLenth!= null">
            and item_lenth like concat('%', #{itemLenth,jdbcType=DOUBLE}, '%')
            </if>
            <if test="itemCode!= null">
            and item_code like concat('%', #{itemCode,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>

    <select id="findAllList" resultMap="tHistoryProdRecordResultMap">
        SELECT *
        FROM t_history_prod_record
    </select>

    <insert id="insert" parameterType ="com.lcyzh.nmerp.entity.THistoryProdRecord" >
        INSERT INTO t_history_prod_record(
            ord_code,
            order_item_id,
            create_time,
            mac_code,
            item_color,
            item_owner,
            item_variety,
            item_cgy_code,
            item_yc_type,
            item_yb_type,
            item_total_sq,
            item_total_weight,
            item_num,
            item_thick,
            item_width,
            item_lenth,
            item_code
        )
        VALUES (
            #{ordCode,jdbcType=VARCHAR},
            #{orderItemId,jdbcType=BIGINT},
            #{createTime,jdbcType=TIMESTAMP},
            #{macCode,jdbcType=VARCHAR},
            #{itemColor,jdbcType=VARCHAR},
            #{itemOwner,jdbcType=VARCHAR},
            #{itemVariety,jdbcType=BIGINT},
            #{itemCgyCode,jdbcType=BIGINT},
            #{itemYcType,jdbcType=VARCHAR},
            #{itemYbType,jdbcType=VARCHAR},
            #{itemTotalSq,jdbcType=DOUBLE},
            #{itemTotalWeight,jdbcType=DOUBLE},
            #{itemNum,jdbcType=BIGINT},
            #{itemThick,jdbcType=DOUBLE},
            #{itemWidth,jdbcType=DOUBLE},
            #{itemLenth,jdbcType=DOUBLE},
            #{itemCode,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.THistoryProdRecord">
        INSERT INTO t_history_prod_record(
            id,
            ord_code,
            order_item_id,
            create_time,
            mac_code,
            item_color,
            item_owner,
            item_variety,
            item_cgy_code,
            item_yc_type,
            item_yb_type,
            item_total_sq,
            item_total_weight,
            item_num,
            item_thick,
            item_width,
            item_lenth,
            item_code
        )
        VALUES
        <foreach collection ="list" item="item" separator =",">
        (
            #{item.id,jdbcType=BIGINT},
            #{item.ordCode,jdbcType=VARCHAR},
            #{item.orderItemId,jdbcType=BIGINT},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.macCode,jdbcType=VARCHAR},
            #{item.itemColor,jdbcType=VARCHAR},
            #{item.itemOwner,jdbcType=VARCHAR},
            #{item.itemVariety,jdbcType=BIGINT},
            #{item.itemCgyCode,jdbcType=BIGINT},
            #{item.itemYcType,jdbcType=VARCHAR},
            #{item.itemYbType,jdbcType=VARCHAR},
            #{item.itemTotalSq,jdbcType=DOUBLE},
            #{item.itemTotalWeight,jdbcType=DOUBLE},
            #{item.itemNum,jdbcType=BIGINT},
            #{item.itemThick,jdbcType=DOUBLE},
            #{item.itemWidth,jdbcType=DOUBLE},
            #{item.itemLenth,jdbcType=DOUBLE},
            #{item.itemCode,jdbcType=VARCHAR}
        )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.lcyzh.nmerp.entity.THistoryProdRecord">
        UPDATE t_history_prod_record
        <set>
            <if test="ordCode!= null">
            ord_code = #{ordCode,jdbcType=VARCHAR},
            </if>
            <if test="orderItemId!= null">
            order_item_id = #{orderItemId,jdbcType=BIGINT},
            </if>
            <if test="createTime!= null">
            create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="macCode!= null">
            mac_code = #{macCode,jdbcType=VARCHAR},
            </if>
            <if test="itemColor!= null">
            item_color = #{itemColor,jdbcType=VARCHAR},
            </if>
            <if test="itemOwner!= null">
            item_owner = #{itemOwner,jdbcType=VARCHAR},
            </if>
            <if test="itemVariety!= null">
            item_variety = #{itemVariety,jdbcType=BIGINT},
            </if>
            <if test="itemCgyCode!= null">
            item_cgy_code = #{itemCgyCode,jdbcType=BIGINT},
            </if>
            <if test="itemYcType!= null">
            item_yc_type = #{itemYcType,jdbcType=VARCHAR},
            </if>
            <if test="itemYbType!= null">
            item_yb_type = #{itemYbType,jdbcType=VARCHAR},
            </if>
            <if test="itemTotalSq!= null">
            item_total_sq = #{itemTotalSq,jdbcType=DOUBLE},
            </if>
            <if test="itemTotalWeight!= null">
            item_total_weight = #{itemTotalWeight,jdbcType=DOUBLE},
            </if>
            <if test="itemNum!= null">
            item_num = #{itemNum,jdbcType=BIGINT},
            </if>
            <if test="itemThick!= null">
            item_thick = #{itemThick,jdbcType=DOUBLE},
            </if>
            <if test="itemWidth!= null">
            item_width = #{itemWidth,jdbcType=DOUBLE},
            </if>
            <if test="itemLenth!= null">
            item_lenth = #{itemLenth,jdbcType=DOUBLE},
            </if>
            <if test="itemCode!= null">
            item_code = #{itemCode,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete"  parameterType ="com.lcyzh.nmerp.entity.THistoryProdRecord">
        DELETE FROM t_history_prod_record
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

</mapper>