<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TInStockMapper">

    <resultMap id="tInStockResultMap" type="com.lcyzh.nmerp.entity.TInStock">
        <id column="id" property="id" jdbcType="BIGINT"/> 
        <result column="in_code" property="inCode" jdbcType="VARCHAR"/> 
        <result column="in_status" property="inStatus" jdbcType="CHAR"/> 
        <result column="apply_user_id" property="applyUserId" jdbcType="BIGINT"/> 
        <result column="oper_user_id" property="operUserId" jdbcType="BIGINT"/> 
        <result column="renark" property="renark" jdbcType="VARCHAR"/> 
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/> 

        
        
    </resultMap>


    <select id="get" resultMap="tInStockResultMap">
        SELECT *
        FROM T_IN_STOCK
        WHERE id = #{id}
    </select>

    <select id="findList" resultMap="tInStockResultMap">
        SELECT *
        FROM T_IN_STOCK
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="tInStockResultMap">
        SELECT *
        FROM T_IN_STOCK
    </select>

    <insert id="insert" parameterType ="com.lcyzh.nmerp.entity.TInStock">
        INSERT INTO T_IN_STOCK(
            id,
            in_code,
            in_status,
            apply_user_id,
            oper_user_id,
            renark,
            create_time
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{inCode,jdbcType=VARCHAR},
            #{inStatus,jdbcType=CHAR},
            #{applyUserId,jdbcType=BIGINT},
            #{operUserId,jdbcType=BIGINT},
            #{renark,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TInStock">
        INSERT INTO T_IN_STOCK(
            id,
            in_code,
            in_status,
            apply_user_id,
            oper_user_id,
            renark,
            create_time
        )
        VALUES
        <foreach collection ="list" item="tInStock" separator =",">
        (
            #{tInStock.id,jdbcType=BIGINT},
            #{tInStock.inCode,jdbcType=VARCHAR},
            #{tInStock.inStatus,jdbcType=CHAR},
            #{tInStock.applyUserId,jdbcType=BIGINT},
            #{tInStock.operUserId,jdbcType=BIGINT},
            #{tInStock.renark,jdbcType=VARCHAR},
            #{tInStock.createTime,jdbcType=TIMESTAMP}
        )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.lcyzh.nmerp.entity.TInStock">
        UPDATE T_IN_STOCK
        SET
        id = #{id},
        in_code = #{inCode},
        in_status = #{inStatus},
        apply_user_id = #{applyUserId},
        oper_user_id = #{operUserId},
        renark = #{renark},
        create_time = #{createTime}
        WHERE id = #{id}
    </update>

    <delete id="delete"  parameterType ="com.lcyzh.nmerp.entity.TInStock">
        DELETE FROM T_IN_STOCK
        WHERE id = #{id}
    </delete>

</mapper>