<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TMachineInfoMapper">

    <resultMap id="tMachineInfoResultMap" type="com.lcyzh.nmerp.entity.TMachineInfo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="mac_code" property="macCode" jdbcType="VARCHAR"/>
        <result column="prod_codes" property="prodCodes" jdbcType="VARCHAR"/>
        <result column="min_width" property="minWidth" jdbcType="DOUBLE"/>
        <result column="max_width" property="maxWidth" jdbcType="DOUBLE"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="findById" parameterType="java.lang.Long" resultMap="tMachineInfoResultMap">
        SELECT *
        FROM t_machine_info
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getByCode" parameterType="java.lang.String" resultMap="tMachineInfoResultMap">
        select * from t_machine_info where mac_code = #{macCode,jdbcType=VARCHAR}
    </select>

    <select id="findList" parameterType ="com.lcyzh.nmerp.entity.TMachineInfo"  resultMap="tMachineInfoResultMap">
        SELECT *
        FROM t_machine_info
        <where>
        <if test="macCode!= null and macCode != ''">
            and mac_code like concat('%', #{macCode,jdbcType=VARCHAR}, '%')
        </if>
        <if test="prodCodes!= null and prodCodes != ''">
            and prod_codes like concat('%', #{prodCodes,jdbcType=VARCHAR}, '%')
        </if>
        <if test="minWidth!= null">
            and min_width &gt; #{minWidth,jdbcType=DOUBLE}
        </if>
        <if test="maxWidth!= null">
            and max_width &lt; #{maxWidth,jdbcType=DOUBLE}
        </if>
        </where>
    </select>

    <select id="findAllList" resultMap="tMachineInfoResultMap">
        SELECT *
        FROM t_machine_info
        ORDER BY max_width DESC
    </select>

    <insert id="insert" parameterType ="com.lcyzh.nmerp.entity.TMachineInfo"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_machine_info(
            mac_code,
            prod_codes,
            min_width,
            max_width,
            create_time,
            update_time
        )
        VALUES (
            #{macCode,jdbcType=VARCHAR},
            #{prodCodes,jdbcType=VARCHAR},
            #{minWidth,jdbcType=DOUBLE},
            #{maxWidth,jdbcType=DOUBLE},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TMachineInfo"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_machine_info(
        mac_code,
        prod_codes,
        min_width,
        max_width,
        create_time,
        update_time
        )
        VALUES
        <foreach collection ="list" item="item" separator =",">
            (
            #{item.macCode,jdbcType=VARCHAR},
            #{item.prodCodes,jdbcType=VARCHAR},
            #{item.minWidth,jdbcType=DOUBLE},
            #{item.maxWidth,jdbcType=DOUBLE},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.lcyzh.nmerp.entity.TMachineInfo">
        UPDATE t_machine_info
        <set>

            <if test="macCode!= null">
                mac_code = #{macCode,jdbcType=VARCHAR},
            </if>
            <if test="prodCodes!= null">
                prod_codes = #{prodCodes,jdbcType=VARCHAR},
            </if>
            <if test="minWidth!= null">
                min_width = #{minWidth,jdbcType=DOUBLE},
            </if>
            <if test="maxWidth!= null">
                max_width = #{maxWidth,jdbcType=DOUBLE},
            </if>
            <if test="updateTime!= null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete"  parameterType ="com.lcyzh.nmerp.entity.TMachineInfo">
        DELETE FROM t_machine_info
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

</mapper>