<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TOrderMapper">

    <resultMap id="tOrderResultMap" type="com.lcyzh.nmerp.entity.TOrder">
        <id column="ord_code" property="ordCode" jdbcType="VARCHAR"/>
        <result column="cus_code" property="cusCode" jdbcType="VARCHAR"/>
        <result column="ord_title" property="ordTitle" jdbcType="VARCHAR"/>
        <result column="proxy_name" property="proxyName" jdbcType="VARCHAR"/>
        <result column="ord_total_amount" property="ordTotalAmount" jdbcType="DOUBLE"/>
        <result column="ord_type" property="ordType" jdbcType="BIGINT"/>
        <result column="ord_sign_date" property="ordSignDate" jdbcType="VARCHAR"/>
        <result column="ord_status" property="ordStatus" jdbcType="BIGINT"/>
        <result column="ord_delivery_date" property="ordDeliveryDate" jdbcType="VARCHAR"/>
        <result column="pay_type" property="payType" jdbcType="BIGINT"/>
        <result column="pay_status" property="payStatus" jdbcType="BIGINT"/>
        <result column="cus_contractor" property="cusContractor" jdbcType="VARCHAR"/>
        <result column="com_contractor" property="comContractor" jdbcType="VARCHAR"/>
        <result column="cont_attach_url" property="contAttachUrl" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="findModifyInfoByOrdCode" parameterType="java.lang.String"
            resultType="com.lcyzh.nmerp.model.vo.OrderAddModifyVo">
        select
        ord_code ordCode,
        cus_code cusCode,
        proxy_name proxyName,
        ord_title ordTitle,
        ord_total_amount ordTotalAmount,
        ord_type ordType,
        ord_sign_date ordSignDate,
        ord_status ordStatus,
        ord_delivery_date ordDeliveryDate,
        pay_type payType,
        pay_status payStatus,
        cus_contractor cusContractor,
        com_contractor comContractor,
        remarks remarks
        from T_ORDER
        where ord_code = #{ordCode,jdbcType=VARCHAR}
    </select>

    <select id="findList" parameterType="com.lcyzh.nmerp.model.vo.OrderQueryVo"
            resultType="com.lcyzh.nmerp.model.vo.OrderQueryVo">
        SELECT
        od.ord_code ordCode,
        od.ord_title ordTitle,
        cs.cus_name cusName,
        od.ord_status ordStatus,
        od.ord_total_amount ordTotalAmount,
        od.ord_sign_date ordSignDate,
        od.ord_delivery_date ordDeliveryDate,
        od.pay_type payType,
        od.pay_status payStatus,
        od.ord_type ordType,
        pt.repay_amount repayAmount,
        pt.invoiced_amount invoicedAmount,
        pt.overdue_num overdueNum
        FROM
        T_ORDER od
        LEFT JOIN T_CUSTOMER cs ON od.cus_code = cs.cus_code
        LEFT JOIN T_PAYMENT pt ON od.ord_code = pt.ord_code
        <where>
            <if test="ordCode!= null and ordCode != ''">
                and od.ord_code like concat('%', #{ordCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="ordTitle!= null and ordTitle != ''">
                and ord_title like concat('%', #{ordTitle,jdbcType=VARCHAR}, '%')
            </if>
            <if test="ordType!= null">
                and ord_type = #{ordType,jdbcType=BIGINT}
            </if>
            <if test="ordSignDate!= null">
                and ord_sign_date like concat('%', #{ordSignDate,jdbcType=VARCHAR}, '%')
            </if>
            <if test="ordStatus!= null">
                and ord_status = #{ordStatus,jdbcType=BIGINT}
            </if>
            <if test="ordDeliveryDate!= null">
                and ord_delivery_date like concat('%', #{ordDeliveryDate,jdbcType=VARCHAR}, '%')
            </if>
            <if test="payType!= null">
                and pay_type = #{payType,jdbcType=BIGINT}
            </if>

            <if test="cusName!= null and cusName != ''">
                and cus_name  like concat('%', #{cusName,jdbcType=VARCHAR}, '%')
            </if>

            <if test="followType!= null and followType == 1">
                and cf.cus_code is not null
            </if>

            <if test="followType!= null and followType == 0">
                and cf.cus_code is null
            </if>
        </where>
    </select>

    <select id="findByPrimaryKey" resultType="com.lcyzh.nmerp.model.vo.OrderQueryVo" parameterType="java.lang.String">
        SELECT
            od.ord_code ordCode,
            od.ord_title ordTitle,
            cs.cus_name cusName,
            od.ord_status ordStatus,
            od.ord_total_amount ordTotalAmount,
            od.ord_sign_date ordSignDate,
            od.ord_delivery_date ordDeliveryDate,
            od.pay_type payType,
            od.ord_type ordType,
            od.proxy_name proxyName
        FROM
            T_ORDER od
            LEFT JOIN T_CUSTOMER cs ON od.cus_code = cs.cus_code
        where od.ord_code =#{ordCode,jdbcType=VARCHAR}
    </select>

    <select id="findAllList" resultMap="tOrderResultMap">
        SELECT *
        FROM T_ORDER
    </select>

    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.TOrder">
           INSERT INTO T_ORDER(
            ord_code,
            cus_code,
            ord_title,
            proxy_name,
            ord_total_amount,
            ord_type,
            ord_sign_date,
            ord_status,
            ord_delivery_date,
            pay_type,
            pay_status,
            cus_contractor,
            com_contractor,
            cont_attach_url,
            remarks,
            create_time,
            update_time
        )
        VALUES (
            #{ordCode,jdbcType=VARCHAR},
            #{cusCode,jdbcType=VARCHAR},
            #{ordTitle,jdbcType=VARCHAR},
            #{proxyName,jdbcType=VARCHAR},
            #{ordTotalAmount,jdbcType=DOUBLE},
            #{ordType,jdbcType=BIGINT},
            #{ordSignDate,jdbcType=VARCHAR},
            #{ordStatus,jdbcType=BIGINT},
            #{ordDeliveryDate,jdbcType=VARCHAR},
            #{payType,jdbcType=BIGINT},
            #{payStatus,jdbcType=BIGINT},
            #{cusContractor,jdbcType=VARCHAR},
            #{comContractor,jdbcType=VARCHAR},
            #{contAttachUrl,jdbcType=VARCHAR},
            #{remarks,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TOrder">
        INSERT INTO T_ORDER(
        ord_code,
        cus_code,
        ord_title,
        proxy_name,
        ord_total_amount,
        ord_type,
        ord_sign_date,
        ord_status,
        ord_delivery_date,
        pay_type,
        pay_status,
        cus_contractor,
        com_contractor,
        cont_attach_url,
        create_time,
        update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.ordCode,jdbcType=VARCHAR},
            #{item.cusCode,jdbcType=VARCHAR},
            #{item.ordTitle,jdbcType=VARCHAR},
            #{item.proxyName,jdbcType=VARCHAR},
            #{item.ordTotalAmount,jdbcType=DOUBLE},
            #{item.ordType,jdbcType=BIGINT},
            #{item.ordSignDate,jdbcType=VARCHAR},
            #{item.ordStatus,jdbcType=BIGINT},
            #{item.ordDeliveryDate,jdbcType=VARCHAR},
            #{item.payType,jdbcType=BIGINT},
            #{item.payStatus,jdbcType=BIGINT},
            #{item.cusContractor,jdbcType=VARCHAR},
            #{item.comContractor,jdbcType=VARCHAR},
            #{item.contAttachUrl,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.lcyzh.nmerp.entity.TOrder">
        UPDATE T_ORDER
        <set>
            <if test="ordTitle!=null">
                ord_title = #{ordTitle,jdbcType=VARCHAR},
            </if>
            <if test="proxyName!=null">
                proxy_name = #{proxyName,jdbcType=VARCHAR},
            </if>
            <if test="ordTotalAmount!=null">
                ord_total_amount = #{ordTotalAmount, jdbcType=DOUBLE},
            </if>
            <if test="ordSignDate!=null">
                ord_sign_date = #{ordSignDate,jdbcType=VARCHAR},
            </if>
            <if test="ordStatus!=null">
                ord_status = #{ordStatus,jdbcType=BIGINT},
            </if>
            <if test="ordDeliveryDate!=null">
                ord_delivery_date = #{ordDeliveryDate,jdbcType=VARCHAR},
            </if>
            <if test="cusContractor!=null">
                cus_contractor = #{cusContractor,jdbcType=VARCHAR},
            </if>

            <if test="comContractor!=null">
                com_contractor = #{comContractor,jdbcType=VARCHAR},
            </if>

            <if test="contAttachUrl!=null">
                cont_attach_url = #{contAttachUrl,jdbcType=VARCHAR},
            </if>

            <if test="updateTime!=null">
                update_time = #{updateTime,jdbcType=TIMESTAMP}
            </if>
            <if test="payStatus!=null">
                pay_status = #{payStatus,jdbcType=BIGINT}
            </if>
        </set>
        WHERE ord_code = #{ordCode,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="com.lcyzh.nmerp.entity.TOrder">
        DELETE FROM T_ORDER
        WHERE ord_code = #{ordCode,jdbcType=VARCHAR}
    </delete>

</mapper>