<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TOutStockMapper">

    <resultMap id="tOutStockResultMap" type="com.lcyzh.nmerp.entity.TOutStock">
        <id column="id" property="id" jdbcType="BIGINT"/> 
        <result column="out_code" property="outCode" jdbcType="VARCHAR"/> 
        <result column="out_status" property="outStatus" jdbcType="CHAR"/> 
        <result column="apply_user_id" property="applyUserId" jdbcType="BIGINT"/> 
        <result column="oper_user_id" property="operUserId" jdbcType="BIGINT"/> 
        <result column="renark" property="renark" jdbcType="VARCHAR"/> 
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/> 
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/> 

        
        
    </resultMap>


    <select id="get" resultMap="tOutStockResultMap">
        SELECT *
        FROM T_OUT_STOCK
        WHERE id = #{id}
    </select>

    <select id="findList" resultMap="tOutStockResultMap">
        SELECT *
        FROM T_OUT_STOCK
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="tOutStockResultMap">
        SELECT *
        FROM T_OUT_STOCK
    </select>

    <insert id="insert" parameterType ="com.lcyzh.nmerp.entity.TOutStock">
        INSERT INTO T_OUT_STOCK(
            id,
            out_code,
            out_status,
            apply_user_id,
            oper_user_id,
            renark,
            create_time,
            update_time
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{outCode,jdbcType=VARCHAR},
            #{outStatus,jdbcType=CHAR},
            #{applyUserId,jdbcType=BIGINT},
            #{operUserId,jdbcType=BIGINT},
            #{renark,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TOutStock">
        INSERT INTO T_OUT_STOCK(
            id,
            out_code,
            out_status,
            apply_user_id,
            oper_user_id,
            renark,
            create_time,
            update_time
        )
        VALUES
        <foreach collection ="list" item="tOutStock" separator =",">
        (
            #{tOutStock.id,jdbcType=BIGINT},
            #{tOutStock.outCode,jdbcType=VARCHAR},
            #{tOutStock.outStatus,jdbcType=CHAR},
            #{tOutStock.applyUserId,jdbcType=BIGINT},
            #{tOutStock.operUserId,jdbcType=BIGINT},
            #{tOutStock.renark,jdbcType=VARCHAR},
            #{tOutStock.createTime,jdbcType=TIMESTAMP},
            #{tOutStock.updateTime,jdbcType=TIMESTAMP}
        )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.lcyzh.nmerp.entity.TOutStock">
        UPDATE T_OUT_STOCK
        SET
        id = #{id},
        out_code = #{outCode},
        out_status = #{outStatus},
        apply_user_id = #{applyUserId},
        oper_user_id = #{operUserId},
        renark = #{renark},
        create_time = #{createTime},
        update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="delete"  parameterType ="com.lcyzh.nmerp.entity.TOutStock">
        DELETE FROM T_OUT_STOCK
        WHERE id = #{id}
    </delete>

</mapper>