<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TOutStockDetailMapper">

    <resultMap id="tOutStockDetailResultMap" type="com.lcyzh.nmerp.entity.TOutStockDetail">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="out_code" property="outCode" jdbcType="VARCHAR"/>
        <result column="bar_code" property="barCode" jdbcType="VARCHAR"/>
        <result column="quality_status" property="qualityStatus" jdbcType="CHAR"/>
        <result column="quality_us_code" property="qualityUsCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="findListByCondition" resultType="com.lcyzh.nmerp.model.vo.OutStockVo" parameterType="java.lang.String">
        SELECT
        osd.bar_code barCode,
        bi.ord_code ordCode,
        bi.item_id itemId
        FROM
        T_OUT_STOCK_DETAIL osd
        LEFT JOIN T_BARCODE_INFO bi ON osd.bar_code = bi.bar_code
        <where>
            <if test="outCode!=null">
                osd.out_code = #{outCode,jdbcType=VARCHAR}
            </if>
            <if test="ordCode!=null">
                bi.ord_code = #{ordCode,jdbcType=VARCHAR}
            </if>
            <if test="itemId!=null">
                bi.item_id = #{itemId,jdbcType=VARCHAR}
            </if>
        </where>


    </select>

    <select id="findByPrimaryKey" parameterType="java.lang.Long" resultMap="tOutStockDetailResultMap">
        SELECT *
        FROM T_OUT_STOCK_DETAIL
        WHERE id = #{id,jdbcType=BIGINT}
    </select>


    <select id="findAllList" resultMap="tOutStockDetailResultMap">
        SELECT *
        FROM T_OUT_STOCK_DETAIL
    </select>

    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.TOutStockDetail">
        INSERT INTO T_OUT_STOCK_DETAIL(
            id,
            out_code,
            bar_code,
            quality_status,
            quality_us_code,
            create_time
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{outCode,jdbcType=VARCHAR},
            #{barCode,jdbcType=VARCHAR},
            #{qualityStatus,jdbcType=CHAR},
            #{qualityUsCode,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TOutStockDetail">
        INSERT INTO T_OUT_STOCK_DETAIL(
        id,
        out_code,
        bar_code,
        quality_status,
        quality_us_code,
        create_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id,jdbcType=BIGINT},
            #{item.outCode,jdbcType=VARCHAR},
            #{item.barCode,jdbcType=VARCHAR},
            #{item.qualityStatus,jdbcType=CHAR},
            #{item.qualityUsCode,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>


    <delete id="deleteByBarCode" parameterType="java.lang.String">
        DELETE FROM T_OUT_STOCK_DETAIL
        WHERE bar_code = #{barCode,jdbcType=VARCHAR}
    </delete>

</mapper>