<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TOutStockMapper">

    <resultMap id="tOutStockResultMap" type="com.lcyzh.nmerp.entity.TOutStock">
        <id column="out_code" property="outCode" jdbcType="VARCHAR"/>
        <result column="ord_code" property="ordCode" jdbcType="VARCHAR"/>
        <result column="out_status" property="outStatus" jdbcType="CHAR"/>
        <result column="out_count" property="outCount" jdbcType="INTEGER"/>
        <result column="apply_user_id" property="applyUserId" jdbcType="BIGINT"/>
        <result column="oper_user_id" property="operUserId" jdbcType="BIGINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="findByPrimaryKey" parameterType="java.lang.String" resultMap="tOutStockResultMap">
        SELECT *
        FROM T_OUT_STOCK
        WHERE out_code = #{outCode,jdbcType=VARCHAR}
    </select>


    <select id="findByOrdCode" parameterType="java.lang.String" resultMap="tOutStockResultMap">
        SELECT *
        FROM T_OUT_STOCK
        WHERE find_in_set(#{ordCode,jdbcType=VARCHAR},ord_code)
    </select>


    <select id="findList" parameterType="com.lcyzh.nmerp.entity.TOutStock" resultMap="tOutStockResultMap">
        SELECT *
        FROM T_OUT_STOCK
        <where>

            <if test="outStatus!= null">
                and out_status = #{outStatus,jdbcType=CHAR}
            </if>
            <if test="applyEmpCode!= null">
                and apply_emp_code like concat('%', #{applyEmpCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="operEmpCode!= null">
                and oper_emp_code like concat('%', #{operEmpCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="remark!= null">
                and remark like concat('%', #{remark,jdbcType=VARCHAR}, '%')
            </if>
            <if test="createTime!= null">
                and create_time  >= now()-interval 3 day
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.TOutStock">
        INSERT INTO T_OUT_STOCK(
            out_code,
            out_status,
            ord_code,
            out_count,
            apply_user_id,
            oper_user_id,
            remark,
            create_time,
            update_time
        )
        VALUES (
            #{outCode,jdbcType=VARCHAR},
            #{outStatus,jdbcType=CHAR},
            #{ordCode,jdbcType=VARCHAR},
            #{outCount,jdbcType=INTEGER},
            #{applyUserId,jdbcType=BIGINT},
            #{operUserId,jdbcType=BIGINT},
            #{remark,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>


    <update id="update" parameterType="com.lcyzh.nmerp.entity.TOutStock">
        UPDATE T_OUT_STOCK
        <set>
            <if test="outStatus!=null">
                out_status = #{outStatus,jdbcType=CHAR},
            </if>
            <if test="ordCode!=null">
                ord_code = #{ordCode,jdbcType=VARCHAR},
            </if>
            <if test="remark!=null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="outCount!=null">
                out_count = out_count + #{outCount,jdbcType=INTEGER},
            </if>
            <if test="applyUserId!=null">
                apply_user_id = #{applyUserId,jdbcType=BIGINT},
            </if>
            <if test="operUserId!=null">
                oper_user_id = #{operUserId,jdbcType=BIGINT},
            </if>
            <if test="remark!=null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE out_code = #{outCode,jdbcType=VARCHAR}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM T_OUT_STOCK
        WHERE out_code = #{outCode,jdbcType=VARCHAR}
    </delete>

</mapper>