<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TOutStockMapper">

    <resultMap id="tOutStockResultMap" type="com.lcyzh.nmerp.entity.TOutStock">
        <id column="out_code" property="outCode" jdbcType="VARCHAR"/>
        <result column="cus_name" property="cusName" jdbcType="VARCHAR"/>
        <result column="receiver" property="receiver" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="out_status" property="outStatus" jdbcType="CHAR"/>
        <result column="create_by" property="createBy" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_by" property="updateBy" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <update id="updateStatus" parameterType="java.util.Map">
        update t_out_stock set out_status = #{outStatus} where out_code = #{outCode}
    </update>

    <select id="findListNew" resultMap="tOutStockResultMap">
        select * from t_out_stock where out_status = '0' order by create_time
    </select>

    <select id="findByOutCode" parameterType="java.lang.String" resultMap="tOutStockResultMap">
        SELECT *
        FROM t_out_stock
        WHERE out_code = #{outCode,jdbcType=VARCHAR}
    </select>

    <select id="findList" parameterType="com.lcyzh.nmerp.model.vo.OutStockVo" resultMap="tOutStockResultMap">
        SELECT *
        FROM t_out_stock
        <where>
            <if test="outCode!= null and outCode!= ''">
                and out_code like concat('%', #{outCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="cusName!= null and cusName!= ''">
                and cus_name like concat('%', #{cusName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="receiver!= null and receiver!= ''">
                and receiver like concat('%', #{receiver,jdbcType=VARCHAR}, '%')
            </if>
            <if test="outStatus!= null">
                and out_status = #{outStatus,jdbcType=CHAR}
            </if>
            <if test="updateBy!= null and updateBy!= ''">
                and update_by like concat('%', #{updateBy,jdbcType=VARCHAR}, '%')
            </if>
            <if test="startDate != null">
                and create_time between #{startDate} and #{endDate}
            </if>
        </where>
    </select>

    <select id="findAllList" resultMap="tOutStockResultMap">
        SELECT *
        FROM t_out_stock
    </select>

    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.TOutStock">
        INSERT INTO t_out_stock(
            out_code,
            cus_name,
            receiver,
            phone,
            address,
            out_status,
            create_by,
            create_time,
            update_time,
            update_by,
            remarks
        )
        VALUES (
            #{outCode,jdbcType=VARCHAR},
            #{cusName,jdbcType=VARCHAR},
            #{receiver,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR},
            #{address,jdbcType=VARCHAR},
            #{outStatus,jdbcType=CHAR},
            #{createBy,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP},
            #{updateBy,jdbcType=VARCHAR},
            #{remarks,jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TOutStock">
        INSERT INTO t_out_stock(
        out_code,
        cus_name,
        receiver,
        phone,
        address,
        out_status,
        create_by,
        create_time,
        update_time,
        update_by,
        remarks
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.outCode,jdbcType=VARCHAR},
            #{item.cusName,jdbcType=VARCHAR},
            #{item.receiver,jdbcType=VARCHAR},
            #{item.phone,jdbcType=VARCHAR},
            #{item.address,jdbcType=VARCHAR},
            #{item.outStatus,jdbcType=CHAR},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP},
            #{item.updateBy,jdbcType=VARCHAR},
            #{item.remarks,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.lcyzh.nmerp.entity.TOutStock">
        UPDATE t_out_stock
        <set>
            <if test="cusName!= null">
                cus_name = #{cusName,jdbcType=VARCHAR},
            </if>
            <if test="receiver!= null">
                receiver = #{receiver,jdbcType=VARCHAR},
            </if>
            <if test="phone!= null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="address!= null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="outStatus!= null">
                out_status = #{outStatus,jdbcType=CHAR},
            </if>
            <if test="createBy!= null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime!= null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime!= null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateBy!= null">
                update_by = #{updateBy,jdbcType=VARCHAR},
            </if>
            <if test="remarks!= null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE out_code = #{outCode,jdbcType=VARCHAR}
    </update>

    <delete id="delete"  parameterType ="java.lang.String">
        DELETE FROM t_out_stock
        WHERE out_code = #{outCode,jdbcType=VARCHAR}
    </delete>


    <select id="getOutStockList" parameterType="com.lcyzh.nmerp.model.vo.OutStockVo" resultType="com.lcyzh.nmerp.model.vo.StockRecordVo">
        SELECT
            DISTINCT
            tk.item_owner,
            tk.item_code,
            tk.item_variety,
            tk.item_cgy_code,
            tk.item_color,
            tk.item_lenth,
            tk.item_width,
            tk.item_thick,
            tk.item_weight,
            tk.item_yb_type,
            tn.ord_code,
            tn.item_num
        FROM
            t_stock tk
        inner join (
        SELECT
            ts.item_code,
            ts.ord_code,
            count( ts.item_code ) AS item_num
        FROM
            t_out_stock t
            INNER JOIN t_out_stock_detail td ON t.out_code = td.out_code
            INNER JOIN T_STOCK ts ON ts.bar_code = td.bar_code
        WHERE
            t.out_code = #{outCode}
        GROUP BY
            ts.item_variety,
            ts.ord_code,
            ts.item_code,
            ts.item_cgy_code,
            ts.item_color,
            ts.item_lenth,
            ts.item_width,
            ts.item_thick,
	        ts.item_yb_type,
            ts.item_owner,
            ts.item_weight
            ) tn on tn.item_code = tk.item_code and tn.ord_code = tk.ord_code
    </select>

</mapper>