<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TProductMapper">

    <resultMap id="tProductResultMap" type="com.lcyzh.nmerp.entity.TProduct">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="prod_code" property="prodCode" jdbcType="VARCHAR"/>
        <result column="prod_name" property="prodName" jdbcType="VARCHAR"/>
        <result column="prod_cgy_code" property="prodCgyCode" jdbcType="BIGINT"/>
        <result column="prod_thick" property="prodThick" jdbcType="DOUBLE"/>
        <result column="prod_variety" property="prodVariety" jdbcType="BIGINT"/>
        <result column="prod_guide_price" property="prodGuidePrice" jdbcType="DOUBLE"/>
        <result column="prod_price_type" property="prodPriceType" jdbcType="BIGINT"/>
        <result column="prod_unit" property="prodUnit" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="get" resultMap="tProductResultMap">
        SELECT *
        FROM T_PRODUCT
        WHERE id = #{id}
    </select>

    <select id="findList" parameterType="com.lcyzh.nmerp.entity.TProduct" resultMap="tProductResultMap">
        SELECT *
        FROM T_PRODUCT
        <where>
            <if test="prodCode != null and prodCode != ''">
                and prod_code = #{prodCode}
            </if>
            <if test="prodName != null and prodName != ''">
                and prod_name like concat(concat('%', #{prodName}),'%')
            </if>
            <if test="prodCgyCode != null and prodCgyCode != ''">
                and prod_cgy_code = #{prodCgyCode}
            </if>
            <if test="prodThick != null">
                and prod_thick = #{prodThick}
            </if>
            <if test="prodVariety != null">
                and prod_variety = #{prodVariety}
            </if>
            <if test="prodPriceType != null">
                and prod_price_type = #{prodPriceType}
            </if>
            <if test="prodUnit != null">
                and prod_unit = #{prodUnit}
            </if>
        </where>
    </select>

    <select id="findAllList" resultMap="tProductResultMap">
        SELECT *
        FROM T_PRODUCT
    </select>

    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.TProduct"  useGeneratedKeys="true" keyProperty="id">
        INSERT INTO T_PRODUCT(
            prod_code,
            prod_name,
            prod_cgy_code,
            prod_thick,
            prod_variety,
            prod_guide_price,
            prod_price_type,
            prod_unit,
            create_time
        )
        VALUES (
            #{prodCode,jdbcType=VARCHAR},
            #{prodName,jdbcType=VARCHAR},
            #{prodCgyCode,jdbcType=BIGINT},
            #{prodThick,jdbcType=DOUBLE},
            #{prodVariety,jdbcType=BIGINT},
            #{prodGuidePrice,jdbcType=DOUBLE},
            #{prodPriceType,jdbcType=BIGINT},
            #{prodUnit,jdbcType=BIGINT},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TProduct" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO T_PRODUCT(
            prod_code,
            prod_name,
            prod_cgy_code,
            prod_thick,
            prod_variety,
            prod_guide_price,
            prod_price_type,
            prod_unit,
            create_time
        )
        VALUES
        <foreach collection="list" item="tProduct" separator=",">
            (
            #{tProduct.prodCode,jdbcType=VARCHAR},
            #{tProduct.prodName,jdbcType=VARCHAR},
            #{tProduct.prodCgyCode,jdbcType=BIGINT},
            #{tProduct.prodThick,jdbcType=DOUBLE},
            #{tProduct.prodVariety,jdbcType=BIGINT},
            #{tProduct.prodGuidePrice,jdbcType=DOUBLE},
            #{tProduct.prodPriceType,jdbcType=BIGINT},
            #{tProduct.prodUnit,jdbcType=BIGINT},
            #{tProduct.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.lcyzh.nmerp.entity.TProduct">
        UPDATE T_PRODUCT
        SET
            prod_code = #{prodCode},
            prod_name = #{prodName},
            prod_cgy_code = #{prodCgyCode},
            prod_thick = #{prodThick},
            prod_variety = #{prodVariety},
            prod_guide_price = #{prodGuidePrice},
            prod_price_type = #{prodPriceType},
            prod_unit = #{prodUnit}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="com.lcyzh.nmerp.entity.TProduct">
        DELETE FROM T_PRODUCT
        WHERE id = #{id}
    </delete>

</mapper>