<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TProdPlanDetailMapper">

    <resultMap id="tProdPlanDetailResultMap" type="com.lcyzh.nmerp.entity.TProdPlanDetail">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="prod_plan_code" property="prodPlanCode" jdbcType="VARCHAR"/>
        <result column="ord_code" property="ordCode" jdbcType="VARCHAR"/>
        <result column="ord_title" property="ordTitle" jdbcType="VARCHAR"/>
        <result column="order_item_id" property="orderItemId" jdbcType="BIGINT"/>
        <result column="item_code" property="itemCode" jdbcType="VARCHAR"/>
        <result column="item_lenth" property="itemLenth" jdbcType="DOUBLE"/>
        <result column="item_width" property="itemWidth" jdbcType="DOUBLE"/>
        <result column="item_thick" property="itemThick" jdbcType="DOUBLE"/>
        <result column="item_num" property="itemNum" jdbcType="BIGINT"/>
        <result column="item_total_weight" property="itemTotalWeight" jdbcType="DOUBLE"/>
        <result column="item_total_sq" property="itemTotalSq" jdbcType="DOUBLE"/>
        <result column="item_yb_type" property="itemYbType" jdbcType="VARCHAR"/>
        <result column="item_yc_type" property="itemYcType" jdbcType="VARCHAR"/>
        <result column="item_status" property="itemStatus" jdbcType="CHAR"/>
        <result column="item_cgy_code" property="itemCgyCode" jdbcType="BIGINT"/>
        <result column="item_variety" property="itemVariety" jdbcType="BIGINT"/>
        <result column="item_unit" property="itemUnit" jdbcType="BIGINT"/>
        <result column="item_owner" property="itemOwner" jdbcType="VARCHAR"/>
        <result column="item_color" property="itemColor" jdbcType="VARCHAR"/>
        <result column="mac_code" property="macCode" jdbcType="VARCHAR"/>
        <result column="item_price_type" property="itemPriceType" jdbcType="BIGINT"/>
        <result column="item_remarks" property="itemRemarks" jdbcType="VARCHAR"/>
        <result column="threshold_up" property="thresholdUp" jdbcType="DOUBLE"/>
        <result column="threshold_down" property="thresholdDown" jdbcType="DOUBLE"/>
        <result column="itemDensity" property="itemDensity" jdbcType="DOUBLE"/>
        <result column="cus_name" property="cusName" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="findListByProdPlanCode" parameterType="java.lang.String" resultMap="tProdPlanDetailResultMap">
        SELECT
            td.id,
            td.prod_plan_code,
            td.ord_code,
            td.order_item_id,
            td.item_code,
            td.item_lenth,
            td.item_width,
            td.item_thick,
            td.item_num,
            td.item_total_weight,
            td.item_total_sq,
            td.item_status,
            td.item_cgy_code,
            td.item_variety,
            td.item_unit,
            td.item_owner,
            td.item_color,
            td.mac_code,
            td.item_price_type,
            td.item_remarks,
            oi.item_yb_type,
            oi.item_yc_type,
            od.ord_title,
            td.threshold_up,
            td.threshold_down
        FROM
            t_prod_plan_detail td
            inner join T_ORDER od on od.ord_code = td.ord_code
            inner join t_order_item oi on td.order_item_id = oi.id
        WHERE
            td.prod_plan_code = #{prodPlanCode,jdbcType=VARCHAR}
        ORDER BY
            td.item_status,
            td.item_width DESC
    </select>

    <select id="findListByProdPlanCodes" parameterType="com.lcyzh.nmerp.model.vo.ProdPlanListVo" resultMap="tProdPlanDetailResultMap">
        SELECT
            td.id,
            tc.cus_name,
            td.prod_plan_code,
            td.ord_code,
            td.order_item_id,
            td.item_code,
            td.item_lenth,
            td.item_width,
            td.item_thick,
            td.item_num,
            td.item_total_weight,
            td.item_total_sq,
            td.item_status,
            td.item_cgy_code,
            td.item_variety,
            td.item_unit,
            td.item_owner,
            td.item_color,
            td.mac_code,
            td.item_price_type,
            td.item_remarks,
            oi.item_yb_type,
            oi.item_yc_type,
            od.ord_title,
            td.threshold_up,
            td.threshold_down,
            ifnull(tp.prod_density,0) itemDensity
        FROM
            t_prod_plan_detail td
            inner join T_ORDER od on od.ord_code = td.ord_code
            inner join t_order_item oi on td.order_item_id = oi.id
            left join t_customer tc on tc.cus_code = od.cus_code
            inner join t_product tp on oi.item_code = tp.prod_code
        WHERE
            td.prod_plan_code in
            <foreach item = "code" index = "index" collection = "planCodes" open = "(" separator = "," close = ")">
                #{code}
            </foreach>
            <if test="startLength != null and startLength != ''">
                and td.item_width &gt;= #{startLength}
            </if>
            <if test="endLength != null and endLength != ''">
                and td.item_width &lt;= #{endLength}
            </if>
            <if test="cusName != null and cusName != ''">
                and tc.cus_name like concat('%',#{cusName},'%')
            </if>
            <if test="orderTitle != null and orderTitle != ''">
                and od.ord_title like concat('%',#{orderTitle},'%')
            </if>
        ORDER BY
            td.item_status,
            td.item_width DESC
    </select>



    <select id="findListBySections" parameterType="com.lcyzh.nmerp.model.vo.ProdPlanExportVo" resultMap="tProdPlanDetailResultMap">
        SELECT
            td.id,
            td.prod_plan_code,
            td.ord_code,
            td.order_item_id,
            td.item_code,
            td.item_lenth,
            td.item_width,
            td.item_thick,
            td.item_num,
            td.item_total_weight,
            td.item_total_sq,
            td.item_status,
            td.item_cgy_code,
            td.item_variety,
            td.item_unit,
            td.item_owner,
            td.item_color,
            td.mac_code,
            td.item_price_type,
            td.item_remarks,
            oi.item_yb_type,
            oi.item_yc_type,
            od.ord_title,
            td.threshold_up,
            td.threshold_down,
            ifnull(tp.prod_density,0) itemDensity
        FROM
            t_prod_plan_detail td
            inner join T_ORDER od on od.ord_code = td.ord_code
            inner join t_order_item oi on td.order_item_id = oi.id
            inner join t_product tp on oi.item_code = tp.prod_code

        <where>
            <if test="prodCgyCode!= null">
                and td.item_cgy_code = #{prodCgyCode,jdbcType=BIGINT}
            </if>
            <if test="prodVariety!= null">
                and td.item_variety = #{prodVariety,jdbcType=BIGINT}
            </if>
            <if test="widthMin!= null">
                and td.item_width &gt;= #{widthMin,jdbcType=BIGINT}
            </if>
            <if test="widthMax!= null">
                and td.item_width &lt;= #{widthMax,jdbcType=BIGINT}
            </if>
            <if test="prodColor!= null and prodColor!=''">
                and td.item_color = #{prodColor,jdbcType=VARCHAR}
            </if>
            <if test="cusCode!= null and cusCode!=''">
                and od.cus_code = #{cusCode,jdbcType=VARCHAR}
            </if>
            <if test="startDate!= null and startDate!=''">
                and oi.create_time &gt;= #{startDate,jdbcType=VARCHAR}
            </if>
            <if test="endDate!= null and endDate!=''">
                and oi.create_time &lt;= #{endDate,jdbcType=VARCHAR}
            </if>
        </where>
        ORDER BY
            td.item_status,
            td.item_width DESC
    </select>

    <update id="updateByIds" >
        update t_prod_plan_detail
        set
        item_status = '1'
        <if test="thresholdUp != null">
            ,threshold_up = #{thresholdUp,jdbcType=DOUBLE}
        </if>
        <if test="thresholdDown != null">
            ,threshold_down = #{thresholdDown,jdbcType=DOUBLE}
        </if>
        where id in
        <foreach item = "id" index = "index" collection = "ids" open = "(" separator = "," close = ")">
          #{id}
        </foreach>
    </update>

    <select id="findByIds" parameterType="java.util.List" resultMap="tProdPlanDetailResultMap">
        select
        d.item_variety,
        d.prod_plan_code,
        d.item_cgy_code,
        d.item_color,
        d.item_lenth,
        d.item_owner,
        d.item_width,
        d.item_thick,
        d.item_num,
        d.item_total_sq,
        d.item_total_weight,
        d.item_remarks,
        d.item_price_type,
        d.item_status,
        c.cus_name,
        t.ord_title,
        i.item_yb_type
        from t_prod_plan_detail d
        inner join t_order_item i on i.id = d.order_item_id
        inner join t_order t on t.ord_code = d.ord_code
        left join t_customer c on c.cus_code = t.cus_code
        where d.id in
        <foreach item = "id" index = "index" collection = "ids" open = "(" separator = "," close = ")">
            #{id}
        </foreach>
    </select>

    <select id="findByProdPlanCode" parameterType="java.lang.String" resultMap="tProdPlanDetailResultMap">
        select
        d.item_variety,
        d.prod_plan_code,
        d.item_cgy_code,
        d.item_color,
        d.item_lenth,
        d.item_owner,
        d.item_width,
        d.item_thick,
        d.item_num,
        d.item_total_sq,
        d.item_total_weight,
        d.item_remarks,
        d.item_price_type,
        d.item_status,
        c.cus_name,
        t.ord_title,
        i.item_yb_type
        from t_prod_plan_detail d
        inner join t_order_item i on i.id = d.order_item_id
        inner join t_order t on t.ord_code = d.ord_code
        left join t_customer c on c.cus_code = t.cus_code
        where d.item_status = '1' and d.prod_plan_code = #{code}
    </select>


    <select id="findById" parameterType="java.lang.Long" resultMap="tProdPlanDetailResultMap">
        SELECT *
        FROM t_prod_plan_detail
        WHERE id = #{id,jdbcType=BIGINT}
    </select>

    <select id="findList" parameterType ="com.lcyzh.nmerp.model.vo.ProdPlanDetailVo"
        resultType="com.lcyzh.nmerp.model.vo.ProdPlanDetailVo">
        SELECT
        ppd.id prodPlanDetailId,
        ppd.prod_plan_code prodPlanCode,
        ppd.ord_code ordCode,
        ppd.order_item_id orderItemId,
        ppd.item_code itemCode,
        ppd.item_lenth itemLenth,
        ppd.item_width itemWidth,
        ppd.item_thick itemThick,
        ppd.item_num itemNum,
        ppd.item_total_weight itemTotalWeight,
        ppd.item_total_sq itemTotalSq,
        oi.item_yb_type itemYbType,
        oi.item_yc_type itemYcType,
        ppd.item_status itemStatus,
        ppd.item_cgy_code itemCgyCode,
        ppd.item_variety itemVariety,
        ppd.item_unit itemUnit,
        ppd.item_owner itemOwner,
        ppd.item_color itemColor,
        ppd.mac_code macCode,
        ppd.item_price_type itemPriceType,
        oi.formula formula,
        o.ord_title orderTitle,
        o.proxy_name proxyName,
        ppd.item_remarks itemRemarks,
        ppd.threshold_up thresholdUp,
        ppd.threshold_down thresholdDown,
        ifnull(tp.prod_density,0) itemDensity
        FROM t_prod_plan_detail ppd
        left join t_prod_plan pp on ppd.prod_plan_code = pp.prod_plan_code
        left join t_order o on ppd.ord_code = o.ord_code
        left join t_order_item oi on ppd.order_item_id = oi.id
        left join t_product tp on tp.prod_code = ppd.item_code
        <where>
            <if test="prodPlanDetailId!= null">
                and ppd.id = #{prodPlanDetailId,jdbcType=BIGINT}
            </if>
            <if test="itemStatus!= null">
                and ppd.item_status = #{itemStatus,jdbcType=CHAR}
            </if>
            <if test="itemCgyCode!= null">
                and ppd.item_cgy_code = #{itemCgyCode,jdbcType=BIGINT}
            </if>
            <if test="itemVariety!= null">
                and ppd.item_variety = #{itemVariety,jdbcType=BIGINT}
            </if>
            <if test="macCode!= null and macCode!=''">
                and ppd.mac_code = #{macCode,jdbcType=VARCHAR}
            </if>
            <if test="itemColor!= null and itemColor!=''">
                and ppd.item_color = #{itemColor,jdbcType=VARCHAR}
            </if>
            <if test="orderTitle!= null and orderTitle!=''">
                and o.ord_title like concat('%',#{orderTitle,jdbcType=VARCHAR},'%')
            </if>
            <if test="startLength!= null and startLength > 0">
                and ppd.item_width &gt;= #{startLength}
            </if>
            <if test="endLength!= null and endLength > 0">
                and ppd.item_width &lt;= #{endLength}
            </if>
        </where>
        order by ppd.item_width
        <if test="ordSort!= null and ordSort == 1">
            desc
        </if>
        ,ppd.item_thick,oi.item_yb_type,ppd.ord_code desc
    </select>

    <select id="findAllList" resultMap="tProdPlanDetailResultMap">
        SELECT *
        FROM t_prod_plan_detail
    </select>

    <insert id="insert" parameterType ="com.lcyzh.nmerp.entity.TProdPlanDetail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_prod_plan_detail(
            prod_plan_code,
            ord_code,
            order_item_id,
            item_code,
            item_lenth,
            item_width,
            item_thick,
            item_num,
            item_total_weight,
            item_total_sq,
            item_yb_type,
            item_yc_type,
            item_status,
            item_cgy_code,
            item_variety,
            item_unit,
            item_owner,
            item_color,
            mac_code,
            item_price_type
        )
        VALUES (
            #{prodPlanCode,jdbcType=VARCHAR},
            #{ordCode,jdbcType=VARCHAR},
            #{orderItemId,jdbcType=BIGINT},
            #{itemCode,jdbcType=VARCHAR},
            #{itemLenth,jdbcType=DOUBLE},
            #{itemWidth,jdbcType=DOUBLE},
            #{itemThick,jdbcType=DOUBLE},
            #{itemNum,jdbcType=BIGINT},
            #{itemTotalWeight,jdbcType=DOUBLE},
            #{itemTotalSq,jdbcType=DOUBLE},
            #{itemYbType,jdbcType=VARCHAR},
            #{itemYcType,jdbcType=VARCHAR},
            #{itemStatus,jdbcType=CHAR},
            #{itemCgyCode,jdbcType=BIGINT},
            #{itemVariety,jdbcType=BIGINT},
            #{itemUnit,jdbcType=BIGINT},
            #{itemOwner,jdbcType=VARCHAR},
            #{itemColor,jdbcType=VARCHAR},
            #{macCode,jdbcType=VARCHAR},
            #{itemPriceType, jdbcType=BIGINT}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TProdPlanDetail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_prod_plan_detail(
        prod_plan_code,
        ord_code,
        order_item_id,
        item_code,
        item_lenth,
        item_width,
        item_thick,
        item_num,
        item_total_weight,
        item_total_sq,
        item_yb_type,
        item_yc_type,
        item_status,
        item_cgy_code,
        item_variety,
        item_unit,
        item_owner,
        item_color,
        mac_code,
        item_price_type,
        item_remarks
        )
        VALUES
        <foreach collection ="list" item="item" separator =",">
            (
            #{item.prodPlanCode,jdbcType=VARCHAR},
            #{item.ordCode,jdbcType=VARCHAR},
            #{item.orderItemId,jdbcType=BIGINT},
            #{item.itemCode,jdbcType=VARCHAR},
            #{item.itemLenth,jdbcType=DOUBLE},
            #{item.itemWidth,jdbcType=DOUBLE},
            #{item.itemThick,jdbcType=DOUBLE},
            #{item.itemNum,jdbcType=BIGINT},
            #{item.itemTotalWeight,jdbcType=DOUBLE},
            #{item.itemTotalSq,jdbcType=DOUBLE},
            #{item.itemYbType,jdbcType=VARCHAR},
            #{item.itemYcType,jdbcType=VARCHAR},
            #{item.itemStatus,jdbcType=CHAR},
            #{item.itemCgyCode,jdbcType=BIGINT},
            #{item.itemVariety,jdbcType=BIGINT},
            #{item.itemUnit,jdbcType=BIGINT},
            #{item.itemOwner,jdbcType=VARCHAR},
            #{item.itemColor,jdbcType=VARCHAR},
            #{item.macCode,jdbcType=VARCHAR},
            #{item.itemPriceType,jdbcType=BIGINT},
            #{item.itemRemarks,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.lcyzh.nmerp.entity.TProdPlanDetail">
        UPDATE t_prod_plan_detail
        <set>
            <if test="itemNum!= null">
                item_num = #{itemNum,jdbcType=BIGINT}
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="delete"  parameterType="java.lang.Long">
        DELETE FROM t_prod_plan_detail
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <select id="getTaskDetailInfos" parameterType="java.util.List" resultType="com.lcyzh.nmerp.model.vo.ProdPlanDetailVo">
        SELECT
        ppd.id prodPlanDetailId,
        ppd.prod_plan_code prodPlanCode,
        ppd.ord_code ordCode,
        ppd.order_item_id orderItemId,
        ppd.item_code itemCode,
        ppd.item_lenth itemLenth,
        ppd.item_width itemWidth,
        ppd.item_thick itemThick,
        ppd.item_num itemNum,
        ppd.item_total_weight itemTotalWeight,
        ppd.item_total_sq itemTotalSq,
        oi.item_yb_type itemYbType,
        oi.item_yc_type itemYcType,
        ppd.item_status itemStatus,
        ppd.item_cgy_code itemCgyCode,
        ppd.item_variety itemVariety,
        ppd.item_unit itemUnit,
        ppd.item_owner itemOwner,
        ppd.item_color itemColor,
        ppd.mac_code macCode,
        ppd.item_price_type itemPriceType,
        oi.formula formula,
        o.ord_title orderTitle,
        o.proxy_name proxyName,
        ppd.item_remarks itemRemarks,
        ppd.threshold_up thresholdUp,
        ppd.threshold_down thresholdDown,
        ifnull(tp.prod_density,0) itemDensity
        FROM t_prod_plan_detail ppd
        left join t_prod_plan pp on ppd.prod_plan_code = pp.prod_plan_code
        left join t_order o on ppd.ord_code = o.ord_code
        left join t_order_item oi on ppd.order_item_id = oi.id
        left join t_product tp on tp.prod_code = ppd.item_code
        where ppd.item_status = '1' and ppd.id in
        <foreach item = "id" index = "index" collection = "ids" open = "(" separator = "," close = ")">
            #{id}
        </foreach>
        order by ppd.item_thick,oi.item_yb_type,ppd.ord_code desc
    </select>

    <update id="updateNumForDelete" parameterType="java.lang.String" >
        update t_prod_plan tp inner join
        (select prod_plan_code,ord_code,sum(item_num) num from t_prod_plan_detail group by prod_plan_code,ord_code) tc
        on tc.prod_plan_code = tp.prod_plan_code set tp.total_quantity = tp.total_quantity - tc.num,tp.quantity = tp.quantity - tc.num
        where tc.ord_code = #{ordCode}
    </update>

    <update id="deleteForOrdCode" parameterType="java.lang.String">
        delete from t_prod_plan_detail where ord_code = #{ordCode}
    </update>


    <select id="getProdInfobybarCode" parameterType="java.lang.String" resultType="com.lcyzh.nmerp.model.vo.ProduceHistoryVo">
        SELECT
            t.ord_title as ordTitle,
            t.ord_code as ordCode,
            t.proxy_name as proxyName,
            t.create_by as ordCreateBy,
            t.update_by as ordUpdateBy,
            t.approval_by as ordApprovalBy,
            ts.bar_code as barCode,
            ts.se_code as seCode,
            ts.item_weight as itemWeight,
            ts.item_tare_weight as itemTareWeight,
            ts.create_by AS stockCreateBy,
            ts.update_by AS stockUpdateBy,
            ts.`status` as 'status',
            ts.item_cgy_code as itemCgyCode,
            ts.item_variety as itemVariety,
            ts.item_color as itemColor,
            ts.item_lenth as itemLenth,
            ts.item_width as itemWidth,
            ts.item_owner as itemOwner,
            ts.item_thick as itemThick,
            ts.item_yb_type as itemYbType,
            ts.item_yc_type itemYcType,
            ti.item_code as itemCode,
            ti.item_price as itemPrice,
            ti.remarks,
            ti.item_price_type as itemPriceType,
            ti.formula,
            tos.car_no as carNo,
            tos.receiver,
            tos.phone
        FROM
            t_stock ts
            INNER JOIN t_order_item ti ON ti.id = ts.order_item_id
            INNER JOIN t_order t ON t.ord_code = ts.ord_code
            left join t_out_stock_detail tsd on tsd.bar_code = ts.bar_code
            left join t_out_stock tos on tos.out_code = tsd.out_code
        WHERE
            ts.bar_code = #{barCode}
    </select>
</mapper>