<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TProdPlanMapper">

    <resultMap id="tProdPlanResultMap" type="com.lcyzh.nmerp.entity.TProdPlan">
        <id column="prod_plan_code" property="prodPlanCode" jdbcType="VARCHAR"/>
        <result column="prod_variety" property="prodVariety" jdbcType="BIGINT"/>
        <result column="prod_cgy_code" property="prodCgyCode" jdbcType="BIGINT"/>
        <result column="prod_color" property="prodColor" jdbcType="VARCHAR"/>
        <result column="mac_code" property="macCode" jdbcType="VARCHAR"/>
        <result column="total_quantity" property="totalQuantity" jdbcType="BIGINT"/>
        <result column="quantity" property="quantity" jdbcType="BIGINT"/>
        <result column="formula" property="formula" jdbcType="VARCHAR"/>
        <result column="isAuto" property="isAuto" jdbcType="CHAR"/>
    </resultMap>

    <update id="updateBatch" parameterType="java.util.List">
        update t_prod_plan
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="total_quantity =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.totalQuantity!=null">
                        when prod_plan_code=#{i.prodPlanCode} then #{i.totalQuantity}
                    </if>
                </foreach>
            </trim>
            <trim prefix="quantity =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.quantity!=null">
                        when prod_plan_code=#{i.prodPlanCode} then #{i.quantity}
                    </if>
                </foreach>
            </trim>

            <trim prefix="isAuto =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.isAuto!=null">
                        when prod_plan_code=#{i.prodPlanCode} then #{i.isAuto}
                    </if>
                </foreach>
            </trim>

            <trim prefix="formula =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.formula!=null">
                        when prod_plan_code=#{i.prodPlanCode} then #{i.formula}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" separator="or" item="i" index="index">
            prod_plan_code=#{i.prodPlanCode}
        </foreach>

    </update>

    <select id="findByProdPanCode" parameterType="java.lang.String" resultMap="tProdPlanResultMap">
        SELECT *
        FROM t_prod_plan
        WHERE prod_plan_code = #{prodPlanCode,jdbcType=VARCHAR}
    </select>

    <select id="findList" parameterType ="com.lcyzh.nmerp.model.vo.ProdPlanVo"
    resultType="com.lcyzh.nmerp.model.vo.ProdPlanVo">
        SELECT
        prod_plan_code prodPlanCode,
        prod_variety prodVariety,
        prod_cgy_code prodCgyCode,
        prod_color prodColor,
        mac_code macCode,
        total_quantity totalQuantity,
        quantity quantity,
        formula formula,
        isAuto isAuto
        FROM t_prod_plan
        <where>
            <if test="prodVariety!= null">
                and prod_variety = #{prodVariety,jdbcType=BIGINT}
            </if>
            <if test="prodCgyCode!= null">
                and prod_cgy_code = #{prodCgyCode,jdbcType=BIGINT}
            </if>
            <if test="prodColor!= null and prodColor!=''">
                and prod_color = #{prodColor,jdbcType=VARCHAR}
            </if>
            <if test="macCode!= null and macCode!=''">
                and mac_code = #{macCode,jdbcType=VARCHAR}
            </if>
        </where>
        order by total_quantity desc, prod_variety, prod_color, mac_code
    </select>

    <select id="findAllList" resultMap="tProdPlanResultMap">
        SELECT *
        FROM t_prod_plan
    </select>

    <insert id="insert" parameterType ="com.lcyzh.nmerp.entity.TProdPlan">
        INSERT INTO t_prod_plan(
            prod_plan_code,
            prod_variety,
            prod_cgy_code,
            prod_color,
            mac_code,
            total_quantity,
            quantity,
            formula,
            isAuto
        )
        VALUES (
            #{prodPlanCode,jdbcType=VARCHAR},
            #{prodVariety,jdbcType=BIGINT},
            #{prodCgyCode,jdbcType=BIGINT},
            #{prodColor,jdbcType=VARCHAR},
            #{macCode,jdbcType=VARCHAR},
            #{totalQuantity,jdbcType=BIGINT},
            #{quantity,jdbcType=BIGINT},
            #{formula,jdbcType=VARCHAR},
            #{isAuto,jdbcType=CHAR}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TProdPlan">
        INSERT INTO t_prod_plan(
        prod_plan_code,
        prod_variety,
        prod_cgy_code,
        prod_color,
        mac_code,
        total_quantity,
        quantity,
        formula,
        isAuto
        )
        VALUES
        <foreach collection ="list" item="item" separator =",">
            (
            #{item.prodPlanCode,jdbcType=VARCHAR},
            #{item.prodVariety,jdbcType=BIGINT},
            #{item.prodCgyCode,jdbcType=BIGINT},
            #{item.prodColor,jdbcType=VARCHAR},
            #{item.macCode,jdbcType=VARCHAR},
            #{item.totalQuantity,jdbcType=BIGINT},
            #{item.quantity,jdbcType=BIGINT},
            #{item.formula,jdbcType=VARCHAR},
            #{item.isAuto,jdbcType=CHAR}
            )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.lcyzh.nmerp.entity.TProdPlan">
        UPDATE t_prod_plan
        <set>
            <if test="totalQuantity!= null">
                total_quantity = #{totalQuantity,jdbcType=BIGINT},
            </if>
            <if test="quantity!= null">
                quantity = #{quantity,jdbcType=BIGINT},
            </if>
            <if test="formula!= null">
                formula = #{formula,jdbcType=VARCHAR},
            </if>
            <if test="isAuto!= null">
                isAuto = #{isAuto,jdbcType=CHAR}
            </if>
        </set>
        WHERE prod_plan_code = #{prodPlanCode,jdbcType=VARCHAR}
    </update>

    <delete id="delete"  parameterType ="com.lcyzh.nmerp.entity.TProdPlan">
        DELETE FROM t_prod_plan
        WHERE prod_plan_code = #{prodPlanCode,jdbcType=VARCHAR}
    </delete>
    
    <update id="updateNum" parameterType="com.lcyzh.nmerp.entity.TProdPlan">
        update t_prod_plan
        set total_quantity = total_quantity - #{totalQuantity}, quantity = quantity - #{quantity}
        where prod_plan_code = #{prodPlanCode}
    </update>

</mapper>