<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TProdCategoryMapper">

    <resultMap id="tProdCategoryResultMap" type="com.lcyzh.nmerp.entity.TProdCategory">
        <id column="id" property="id" jdbcType="BIGINT"/> 
        <result column="cgy_code" property="cgyCode" jdbcType="VARCHAR"/> 
        <result column="cgy_name" property="cgyName" jdbcType="VARCHAR"/> 
        <result column="parent_cgy_code" property="parentCgyCode" jdbcType="VARCHAR"/> 
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/> 

        
        
    </resultMap>


    <select id="get" resultMap="tProdCategoryResultMap">
        SELECT *
        FROM T_PROD_CATEGORY
        WHERE id = #{id}
    </select>

    <select id="findList" resultMap="tProdCategoryResultMap">
        SELECT *
        FROM T_PROD_CATEGORY
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="tProdCategoryResultMap">
        SELECT *
        FROM T_PROD_CATEGORY
    </select>

    <insert id="insert" parameterType ="com.lcyzh.nmerp.entity.TProdCategory">
        INSERT INTO T_PROD_CATEGORY(
            id,
            cgy_code,
            cgy_name,
            parent_cgy_code,
            create_time
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{cgyCode,jdbcType=VARCHAR},
            #{cgyName,jdbcType=VARCHAR},
            #{parentCgyCode,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TProdCategory">
        INSERT INTO T_PROD_CATEGORY(
            id,
            cgy_code,
            cgy_name,
            parent_cgy_code,
            create_time
        )
        VALUES
        <foreach collection ="list" item="tProdCategory" separator =",">
        (
            #{tProdCategory.id,jdbcType=BIGINT},
            #{tProdCategory.cgyCode,jdbcType=VARCHAR},
            #{tProdCategory.cgyName,jdbcType=VARCHAR},
            #{tProdCategory.parentCgyCode,jdbcType=VARCHAR},
            #{tProdCategory.createTime,jdbcType=TIMESTAMP}
        )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.lcyzh.nmerp.entity.TProdCategory">
        UPDATE T_PROD_CATEGORY
        SET
        id = #{id},
        cgy_code = #{cgyCode},
        cgy_name = #{cgyName},
        parent_cgy_code = #{parentCgyCode},
        create_time = #{createTime}
        WHERE id = #{id}
    </update>

    <delete id="delete"  parameterType ="com.lcyzh.nmerp.entity.TProdCategory">
        DELETE FROM T_PROD_CATEGORY
        WHERE id = #{id}
    </delete>

</mapper>