<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TProdPlanMapper">

    <resultMap id="prodPlanResultMap" type="com.lcyzh.nmerp.entity.TProdPlan">
        <id column="prod_plan_code" property="prodPlanCode" jdbcType="VARCHAR"/>
        <result column="ord_code" property="ordCode" jdbcType="VARCHAR"/>
        <result column="plan_status" property="planStatus" jdbcType="CHAR"/>
        <result column="item_cgy_num" property="itemCgyNum" jdbcType="INTEGER"/>
        <result column="finish_cgy_num" property="finishCgyNum" jdbcType="INTEGER"/>
        <result column="oper_emp_code" property="operEmpCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="findById" parameterType="java.lang.String" resultMap="prodPlanResultMap">
        SELECT *
        FROM T_PROD_PLAN
        WHERE prod_plan_code = #{prodPlanCode,jdbcType=VARCHAR}
    </select>


    <select id="findByOrdCode" parameterType="java.lang.String" resultMap="prodPlanResultMap">
        SELECT *
        FROM T_PROD_PLAN
        WHERE ord_code = #{ordCode,jdbcType=VARCHAR}
    </select>

    <select id="findList" parameterType="com.lcyzh.nmerp.entity.TProdPlan" resultMap="prodPlanResultMap">
        SELECT *
        FROM T_PROD_PLAN
        <where>
            <if test="ordCode!= null">
                and ord_code like concat('%', #{ordCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="planStatus!= null">
                and plan_status like concat('%', #{planStatus,jdbcType=CHAR}, '%')
            </if>
            <if test="operEmpCode!= null">
                and oper_emp_code = #{operEmpCode,jdbcType=VARCHAR}
            </if>

        </where>
    </select>


    <insert id="insert" parameterType="com.lcyzh.nmerp.entity.TProdPlan">
        INSERT INTO T_PROD_PLAN(
            prod_plan_code,
            ord_code,
            plan_status,
            item_cgy_num,
            finish_cgy_num,
            oper_emp_code,
            create_time,
            update_time
        )
        VALUES (
            #{prodPlanCode,jdbcType=VARCHAR},
            #{ordCode,jdbcType=VARCHAR},
            #{planStatus,jdbcType=CHAR},
            #{itemCgyNum,jdbcType=INTEGER},
            #{finishCgyNum,jdbcType=INTEGER},
            #{operEmpCode,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TProdPlan">
        INSERT INTO T_PROD_PLAN(
        prod_plan_code,
        ord_code,
        plan_status,
        item_cgy_num,
        finish_cgy_num,
        oper_emp_code,
        create_time,
        update_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.prodPlanCode,jdbcType=VARCHAR},
            #{item.ordCode,jdbcType=VARCHAR},
            #{item.planStatus,jdbcType=CHAR},
            #{item.itemCgyNum,jdbcType=INTEGER},
            #{item.finishCgyNum,jdbcType=INTEGER},
            #{item.operEmpCode,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.updateTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="com.lcyzh.nmerp.entity.TProdPlan">
        UPDATE T_PROD_PLAN
        <set>
            <if test="ordCode!= null">
                ord_code = #{ordCode,jdbcType=VARCHAR},
            </if>
            <if test="planStatus!= null">
                plan_status = #{planStatus,jdbcType=CHAR},
            </if>
            <if test="finishCgyNum!= null">
                finish_cgy_num = #{finishCgyNum,jdbcType=INTEGER},
            </if>
            <if test="operEmpCode!= null">
                oper_emp_code = #{operEmpCode,jdbcType=VARCHAR},
            </if>
            <if test="updateTime!= null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE prod_plan_code = #{prodPlanCode,jdbcType=VARCHAR}
    </update>

</mapper>