<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TReturnMaterDetailMapper">

    <resultMap id="tReturnMaterDetailResultMap" type="com.lcyzh.nmerp.entity.TReturnMaterDetail">
        <id column="id" property="id" jdbcType="BIGINT"/> 
        <result column="return_code" property="returnCode" jdbcType="VARCHAR"/> 
        <result column="rawm_code" property="rawmCode" jdbcType="VARCHAR"/> 
        <result column="return_num" property="returnNum" jdbcType="DOUBLE"/> 
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/> 

        
        
    </resultMap>


    <select id="get" resultMap="tReturnMaterDetailResultMap">
        SELECT *
        FROM T_RETURN_MATER_DETAIL
        WHERE id = #{id}
    </select>

    <select id="findList" resultMap="tReturnMaterDetailResultMap">
        SELECT *
        FROM T_RETURN_MATER_DETAIL
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="tReturnMaterDetailResultMap">
        SELECT *
        FROM T_RETURN_MATER_DETAIL
    </select>

    <insert id="insert" parameterType ="com.lcyzh.nmerp.entity.TReturnMaterDetail">
        INSERT INTO T_RETURN_MATER_DETAIL(
            id,
            return_code,
            rawm_code,
            return_num,
            create_time
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{returnCode,jdbcType=VARCHAR},
            #{rawmCode,jdbcType=VARCHAR},
            #{returnNum,jdbcType=DOUBLE},
            #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TReturnMaterDetail">
        INSERT INTO T_RETURN_MATER_DETAIL(
            id,
            return_code,
            rawm_code,
            return_num,
            create_time
        )
        VALUES
        <foreach collection ="list" item="tReturnMaterDetail" separator =",">
        (
            #{tReturnMaterDetail.id,jdbcType=BIGINT},
            #{tReturnMaterDetail.returnCode,jdbcType=VARCHAR},
            #{tReturnMaterDetail.rawmCode,jdbcType=VARCHAR},
            #{tReturnMaterDetail.returnNum,jdbcType=DOUBLE},
            #{tReturnMaterDetail.createTime,jdbcType=TIMESTAMP}
        )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.lcyzh.nmerp.entity.TReturnMaterDetail">
        UPDATE T_RETURN_MATER_DETAIL
        SET
        id = #{id},
        return_code = #{returnCode},
        rawm_code = #{rawmCode},
        return_num = #{returnNum},
        create_time = #{createTime}
        WHERE id = #{id}
    </update>

    <delete id="delete"  parameterType ="com.lcyzh.nmerp.entity.TReturnMaterDetail">
        DELETE FROM T_RETURN_MATER_DETAIL
        WHERE id = #{id}
    </delete>

</mapper>