<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcyzh.nmerp.dao.TStockMapper">

    <resultMap id="tStockResultMap" type="com.lcyzh.nmerp.entity.TStock">
        <id column="id" property="id" jdbcType="BIGINT"/> 
        <result column="prod_code" property="prodCode" jdbcType="VARCHAR"/> 
        <result column="stock_num" property="stockNum" jdbcType="DOUBLE"/> 
        <result column="aval_stock_num" property="avalStockNum" jdbcType="DOUBLE"/> 
        <result column="stock_unit" property="stockUnit" jdbcType="VARCHAR"/> 
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/> 
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/> 

        
        
    </resultMap>


    <select id="get" resultMap="tStockResultMap">
        SELECT *
        FROM T_STOCK
        WHERE id = #{id}
    </select>

    <select id="findList" resultMap="tStockResultMap">
        SELECT *
        FROM T_STOCK
        <where>
        </where>
    </select>

    <select id="findAllList" resultMap="tStockResultMap">
        SELECT *
        FROM T_STOCK
    </select>

    <insert id="insert" parameterType ="com.lcyzh.nmerp.entity.TStock">
        INSERT INTO T_STOCK(
            id,
            prod_code,
            stock_num,
            aval_stock_num,
            stock_unit,
            create_time,
            update_time
        )
        VALUES (
            #{id,jdbcType=BIGINT},
            #{prodCode,jdbcType=VARCHAR},
            #{stockNum,jdbcType=DOUBLE},
            #{avalStockNum,jdbcType=DOUBLE},
            #{stockUnit,jdbcType=VARCHAR},
            #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <insert id="insertBatch" parameterType="com.lcyzh.nmerp.entity.TStock">
        INSERT INTO T_STOCK(
            id,
            prod_code,
            stock_num,
            aval_stock_num,
            stock_unit,
            create_time,
            update_time
        )
        VALUES
        <foreach collection ="list" item="tStock" separator =",">
        (
            #{tStock.id,jdbcType=BIGINT},
            #{tStock.prodCode,jdbcType=VARCHAR},
            #{tStock.stockNum,jdbcType=DOUBLE},
            #{tStock.avalStockNum,jdbcType=DOUBLE},
            #{tStock.stockUnit,jdbcType=VARCHAR},
            #{tStock.createTime,jdbcType=TIMESTAMP},
            #{tStock.updateTime,jdbcType=TIMESTAMP}
        )
        </foreach>
    </insert>

    <update id="update"  parameterType ="com.lcyzh.nmerp.entity.TStock">
        UPDATE T_STOCK
        SET
        id = #{id},
        prod_code = #{prodCode},
        stock_num = #{stockNum},
        aval_stock_num = #{avalStockNum},
        stock_unit = #{stockUnit},
        create_time = #{createTime},
        update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="delete"  parameterType ="com.lcyzh.nmerp.entity.TStock">
        DELETE FROM T_STOCK
        WHERE id = #{id}
    </delete>

</mapper>